
body{
  background-color:rgb(240, 243, 255);
}


table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
  background-color: red;
}



h1{
    color:red;
}
h2{
    color: rgb(21, 138, 138);
}


footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    color:gray;
    background-color: #fff;
    }


    .dropdown {
        position: relative;
        display: inline-block;
      }
      
      .dropdown-content {
        display: none;
        position: absolute;
        right: 0;
        background-color: #f9f9f9;
        min-width: 150px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .dropdown-content a {
        color: black;
        padding: 2px 2px;
        text-decoration: none;
        display: block;
      }
      
      .dropdown-content a:hover {background-color:	rgba(29, 156, 156, 0.678);}
      .dropdown:hover .dropdown-content {display: block;}